@charset "UTF-8";

@keyframes btn-pulso {
    from { 
        transform: scale(0);
        width: 300px;
    }

    to {
        transform: scale(0.8);
    }
}

@keyframes text-suave {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes boll {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(170px);
    }

    100% {
        transform: translateY(0px);
    }
}

h1 {
    text-align: center;
    padding: 30px;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    animation: text-suave 2s linear infinite forwards;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.btn {
    border: none;
    border-radius: 20px;
    background-color: rgb(48, 190, 48);
    padding: 20px;
    width: 170px;
    cursor: pointer;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    animation: btn-pulso 2s linear infinite;
}

.boll {
    background-color: red;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    animation: boll 1.3s ease-in infinite; 
}