@charset "UTF-8";

@keyframes spin {
    to  {
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg);
    }
}

@keyframes background-transform {
    to  {
        background-color: greenyellow; /*começa no from e termina no to*/
    }
    from{
        background-color: #8b8b8b;
    }
}

@keyframes p-apper {
    to  {
        display: flex; /*começa no from e termina no to*/
    }
    from{
        display: none;
    }
}

body {
    height: 98vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn-primary{
    height: 56px;
    width: 250px;
    background-color: #8b8b8b;
    border-radius: 20px;
    padding: 12px;
    border: none;
    position: relative;

    animation-name: background-transform; /*nome do keyframe*/
    animation-duration: .4s; /*duração*/
    animation-timing-function: linear; /*Tempo da Função se vai começar rapido e terminar devagar e vise versa*/
    animation-fill-mode: forwards; /*se eu quero que a animação fique. "o for vem de from"*/
    animation-delay: 3s; /*tempo que ele vai ficar no from*/
}

.loading-spinner {
    width: 24px;
    height: 24px;

    border: 3px solid white;
    border-radius: 50%;
    border-bottom-color: transparent;

    animation: spin 1s linear infinite;
}

.wrapper .check {
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: greenyellow;
    transform: translateY(-43px);

    animation-name: p-apper;
    animation-duration: .4s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}